﻿
@{
    ViewBag.Title = "Cadastrar";
}


<head>
    <meta charset="utf-8">
    <title>Login</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/notify")
    @Scripts.Render("~/bundles/utils")
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>

</head>


<body>
    <div class="login-box">
        <form class="login" action="">
            <div class="logo-cadastro">
                <img class="img-responsive" src="~/Imagens/logo.png" alt="Logo">
            </div>

            <div class="cad-user">CADASTRO</div>

            <div class="form-group">
                <input type="text" required class="form-control input" id="nome" placeholder="Nome">
            </div>

            <div class="form-group">
                <input type="email" required class="form-control input" id="email" placeholder="E-mail">
            </div>

            <div class="form-group">
                <input type="password" required class="form-control input" id="senha" placeholder="Senha">
            </div>

            <div class="form-group">
                <input required class="form-control input" id="cpf" placeholder="CPF">
            </div>

            <div id="profissao" class="checkbox-group required">
                <input checked id="gerente" class="check" type="radio" name="profissao" value="0">
                <label for="gerente">Gerente</label>

                <label class="radio-inline">
                    <input id="programador" class="check" type="radio" name="profissao" value="1">
                    <label for="programador">Programador</label>
                </label>
            </div>
            <button type="submit" class="btn btn-send">CADASTRAR</button>
        </form>
    </div>
</body>
<script type="text/javascript">

    $(document).on('submit', 'form.login', function (event) {
        $.LoadingOverlay("show");
        sendForm(event);
        return false;
    });

    function sendForm(event) {
        event.preventDefault();
        var url = "/Usuario/PostCadastrar";
        var data = {
            "nome": $("#nome").val(),
            "email": $("#email").val(),
            "senha": $("#senha").val(),
            "cpf": $("#cpf").val(),
            "profissao": $('input[name="profissao"]:checked').val()
        };
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: "json",
            encode: true
        }).done(function (data) {
            if (json.isRedirect) {
                window.location.href = json.redirectUrl;
            } else {
                $.LoadingOverlay("hide");
                ErroMensagem('', 'Algo errado aconteceu.Tente novamente');
            }
        }).fail(function (data) {
            ErroMensagem('', 'Ocorreu um erro ao efetuar essa operação.');
            $.LoadingOverlay("hide");
        }).always(function (data) {
        });
    }

</script>