﻿
@{
    ViewBag.Title = "Detalhes";
}

<head>
    <meta charset="utf-8">
    <title>Login</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>

<body>
    <div class="container">
        @{Html.RenderPartial("~/Views/Shared/_LogoutUsuario.cshtml");}
        <main>
            <div class="til-page">Nome Projeto</div>

            <div class="row" style="position: relative">
                <div class="col-xs-12 col-sm-8 col-md-6 detalhes">
                    <div class="proj-deltalhes">
                        <div class="til">
                            <span class="box-des">Status:</span> Aguardando Início
                        </div>

                        <div class="clearfix"></div>
                        <div class="dataInicio">
                            <span class="box-des">Início:</span> 01/01/2017
                        </div>

                        <div class="dataFim">
                            <span class="box-des">Términio:</span> 10/01/2017
                        </div>
                        <div class="clearfix"></div>

                        <div>
                            <div class="box-des">Programador(es):</div> joão Fernan asdf af f sfasf ergtrh rh des <br> José Mauro
                        </div>

                        <div div class="des">
                            <div class="box-des">Descrição:</div> Desenvonvel um sistema para o controle de estoque de uma empresa de materiais
                            para construção
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-6 detalhes">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-editar"><img class="icon-btn" src="~/Imagens/icon-pause.png">Pausar</button>
                                    <!--Botao play-->
                                    <!--<button type="button" class="btn btn-analise"><img class="icon-btn" src="images/icon-play.png">Iniciar</button>-->
                                </div>

                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-excluir">Concluir</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-6 text-center">
                            <div class="btnDetalhes">
                                <button type="button" class="btn btn-editar">Voltar ao projetos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
