﻿@{
    ViewBag.Title = "Editar";
}
@model Web.MVC.Models.Projetos.EditarProjetoModel
@using Web.MVC.Models.Programador;
<head>
    <meta charset="utf-8">
    <title>Login</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/notify")
    @Scripts.Render("~/bundles/utils")
    <link href="~/Content/selectpicker.css" rel="stylesheet" />
</head>

<body>
<div class="container">
    @{Html.RenderPartial($"~/Views/Shared/_LogoutUsuario.cshtml");}
    <main>
        <div class="til-page">Adicionar Projeto</div>
        <form action="" class="cadastrar" method="post">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <div class="form-group">
                        <input type="text" value="@Model.DadosProjeto.Titulo" required class="form-control input" id="nomeProjeto" placeholder="Nome do Projeto">
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="date" required @Model.DadosProjeto.DataInicio class="form-control input" id="dataInicio" placeholder="Início">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="date" required value="@Model.DadosProjeto.DataFim" class="form-control input" id="dataFim" placeholder="Término">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                       <div class="col-lg-6">
                            <div class="form-group">
                                <select class="selectpicker" data-live-search="true">
                                    <option selected disabled>Adicionar Programador</option>
                                    @foreach (SelectProgramadoresModel programador in Model.Programadores)
                                    {
                                        <option value="@programador.ProgramadorId">@programador.Nome</option>
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <button type="submit" id="adicionarProgramador" class="btn btn-send">ADICIONAR</button>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <textarea id="descricao" class="form-control input text-coment" placeholder="Descrição do projeto" rows="3">@Model.DadosProjeto.Descricao</textarea>
                    </div>
                    <button type="submit" id="cadastrar" class="btn btn-send">CADASTRAR</button>
                </div>
            </div>
        </form>
    </main>
</div>
</body>

<script type="text/javascript">
    $(document).on('submit', 'form.cadastrar', function (event) {
        $.LoadingOverlay("show");
        sendForm(event);
        return false;
    });

    function sendForm(event) {
        event.preventDefault();
        var url = "/Projeto/PostCadastrar";
        var data = {
            "Titulo": $("#nomeProjeto").val(),
            "Descricao": $("#descricao").val(),
            "DataInicio": $("#dataInicio").val(),
            "DataFim": $("#dataFim").val(),
        };
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: "json",
            encode: true
        }).done(function (json) {
            if (json.isRedirect) {
                window.location.href = json.redirectUrl;
            } else {
                $.LoadingOverlay("hide");
                sweetAlert('Ooops!', 'Algo errado aconteceu.Tente novamente','error');
            }
        }).fail(function (data) {
            sweetAlert('Ooops!', 'Ocorreu um erro ao efetuar essa operação.', 'error');
            $.LoadingOverlay("hide");
        }).always(function (data) {
        });
    }
</script>

