﻿
@{
    ViewBag.Title = "Validar";
}

<head>
    <meta charset="utf-8">
    <title>Login</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>


<body>
    <div class="container">
        @{Html.RenderPartial("~/Views/Shared/_LogoutUsuario.cshtml");}
        <main>
            <div class="til-page">Análise de Projeto </div>

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6">
                    <div class="type-user">
                        <input id="gerente" class="check" type="radio" name="type" value="gerente">
                        <label for="gerente">Gerente</label>

                        <label class="radio-inline">
                            <input id="programador" class="check" type="radio" name="type" value="programador">
                            <label for="programador">Programador</label>
                        </label>
                    </div>

                    <div class="form-group valid-text">
                        <textarea class="form-control input text-coment" placeholder="Observação sobre o projeto" rows="3"></textarea>
                    </div>

                    <button type="button" class="btn btn-send">ENVIAR</button>
                </div>
            </div>
        </main>
    </div>
</body>